/* @import "tailwindcss"; */

html,
body,
#root {
    font-size: 16px;
    width: 100%;
    height: 100%;
    background-color: white;

    overflow: hidden;
}

p {
    margin: 0;
    line-height: 2;
}

* {
    /* 西文 */ font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /* 中文 */ "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", "Source Han Sans CN", sans-serif;
}
