div[contenteditable='true'] {
  outline: none;
  height: 100%;
}

.placeholder:before {
  display: block;
  content: attr(data-empty-text);
  pointer-events: none;
  height: 0;
  color: #b1becc;
  font-size: 12px;
}

.ProseMirror {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 2;
    margin: 0px;
  }

  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.125rem;
  }
  h5 {
    font-size: 1.1rem;
  }
  h6 {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #171923;
    font-weight: bold;
  }
  p {
    margin: 0px auto auto 0px;
    font-size: 1rem;
    line-height: 1.8rem;
    text-align: left;
    font-weight: normal;
    color: #1a202c;
  }

  blockquote {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 1em;
    margin-left: 0px;
    border-left: 3px solid #eee;
    color: #8c8c8c;
  }

  blockquote p {
    hanging-punctuation: first;
  }

  code {
    background-color: rgba(0, 0, 0, 0.06);
    padding: 0 2px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 2px 2px;
    line-height: inherit;
    word-wrap: break-word;
    text-indent: 0;
  }

  strong {
    font-weight: bold;
  }

  // --- 水平分割线

  hr {
    margin: 18px 0px;
    height: 2px;
    background: #cbd5e0;
  }

  // ---- 任务列表

  li p:first-child {
    margin: 0;
    word-break: break-word;
  }

  ul[data-type='taskList'] {
    list-style: none;
    margin: 0;
    padding: 0;

    li[data-checked='true'] {
      > div {
        > p {
          color: #cbd5e0;
        }
      }
    }

    li {
      display: flex;

      > label {
        flex: 0 0 auto;
        margin-top: 0.1rem;
        margin-right: 0.5rem;
      }

      > div {
        width: 100%;
      }

      p {
        width: 100%;
        font-size: 0.875rem;
      }
    }

    li::before {
      content: '\200A';
    }

    input[type='checkbox'] {
      width: 16px;
      height: 16px;
      cursor: pointer;
      vertical-align: middle;
      outline: none;
      appearance: none;
      border: 1px solid #cfd5de;
      background-color: #fff;
      border-radius: 0;
      color: rgba(0, 0, 0, 0.9);
    }

    input[type='checkbox']:checked {
      background-color: #cbd5e0;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTQiIGhlaWdodD0iMTQiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNNS43IDguM0wyLjkgNS41IDEuNSA2LjlsNC4yIDQuMiA2LjQtNi40LTEuNC0xLjQtNSA1eiIvPjwvZGVmcz48dXNlIHhsaW5rOmhyZWY9IiNhIiBvdmVyZmxvdz0idmlzaWJsZSIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNmZmYiLz48L3N2Zz4=);
    }
  }

  // ---- Placeholder 占位文字
  p.is-editor-empty {
    font-size: 14px;
  }

  p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #ced4da;
    pointer-events: none;
    height: 0;
  }
}
